html {
    position: static;
    width: 1253px;
    height: 678px;
    left: 0px;
    top: 746px;
    background: #1C1C1C;
 
    box-sizing: border-box;   
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 68px 0px;
    font-family: sans-serif;
}

body {
    position: absolute;
    width: 550px;
    height: 550px;
    left: 61px;
    top: 64px;
    
    background: #1F2937;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */


    /* Medium grey */

    color: #D5D4D8;

}

h1 {
    position: absolute;
    width: 354px;
    height: 80px;
    left: 52px;
    top: 50px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */
    
    letter-spacing: -0.025em;
    
    /* white */
    
    color: #FFFFFF;
    
}

h2 {

    position: absolute;
    width: 354px;
    height: 80px;
    left: 52px;
    top: 80px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */
    
    letter-spacing: -0.025em;
    
    color: #4ADF86;
}

#insecure {
    position: absolute;
    width: 372px;
    height: 28px;
    left: 52px;
    top: 158px;
    
    /* text-xl/leading-7/font-normal */
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    
    
    /* Medium grey */
    
    color: #D5D4D8;
}

hr {
    position: absolute;
    width: 446px;
    height: 0px;
    left: 52px;
    top: 364px;

    border: 1px solid #2F3E53;
}

#button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    
    position: absolute;
    width: 223px;
    height: 42px;
    left: 52px;
    top: 267px;
    color: white;
    
    background: #10B981;
    font-family: sans-serif;
    /* shadow/sm */
    
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

#passwords1 {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 399px;
    
    background: #273549;
    border-radius: 6px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #55F991;

    border: 0px;
}

#passwords2 {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 287px;
    top: 399px;

    background: #273549;
    border-radius: 6px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #55F991;
    border: 0px;
}

#passwords3 {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 465px;
    
    background: #273549;
    border-radius: 6px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #55F991;
    border: 0px;

}

#passwords4 {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 287px;
    top: 465px;
    
    background: #273549;
    border-radius: 6px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #55F991;
    border: 0px;
}

#copy1 {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 414px;

    background: #273549;
    border-radius: 0px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #55F991;
}

#copy2 {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 287px;
    top: 399px;

    background: #273549;
    border-radius: 6px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #55F991;
}

#copy3 {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 465px;
    
    background: #273549;
    border-radius: 6px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #55F991;
}

#copy4 {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 287px;
    top: 465px;
    
    background: #273549;
    border-radius: 6px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #55F991;
}

#characters {
   
    position: absolute;
    width: 300px;
    height: 42px;
    left: 52px;
    top: 315px;
    color: white;
    font-size: 15;
    font-family: sans-serif;
    

}

#charactersBox {
    position: absolute;
    width: 50px;
    height: 25px;
    left: 252px;
    top: 330px;
    color: black;

}